/*
@@@@@@@    @@@@@@   @@@   @@@@@@    @@@@@@   @@@  @@@
@@@@@@@@  @@@@@@@@  @@@  @@@@@@@   @@@@@@@@  @@@@ @@@
@@!  @@@  @@!  @@@  @@!  !@@       @@!  @@@  @@!@!@@@
!@!  @!@  !@!  @!@  !@!  !@!       !@!  @!@  !@!!@!@!
@!@@!@!   @!@  !@!  !!@  !!@@!!    @!@  !@!  @!@ !!@!
!!@!!!    !@!  !!!  !!!   !!@!!!   !@!  !!!  !@!  !!!
!!:       !!:  !!!  !!:       !:!  !!:  !!!  !!:  !!!
:!:       :!:  !:!  :!:      !:!   :!:  !:!  :!:  !:!
 ::       ::::: ::   ::  :::: ::   ::::: ::   ::   ::
 :         : :  :   :    :: : :     : :  :   ::    :

Firefox Vibrancy, Transparency, for macOS
ver. 0.1
By: Brandon Shockley
Original Source: "https://github.com/manilarome/blurredfox/"

Why? 
Unfortunately becuase of design capability differences between Firefox for Linux and macOS, 
Manilarome's beautiful theme doesn't render properly on macOS. This edit of their theme tries 
to find work arounds for what doesn't work, as well as tweak some settings to my liking. This 
theme is intended to be used with Pywalfox (https://github.com/Frewacom/pywalfox). I am also 
not a professional CSS developer. My theme might be crude, and there are likely to be 
overlapping rules and bugs. Please feel free to propose fixes and raise issues on Github. 

TODO:
[ ] Integrate this better into Pywalfox
    [ ] Context menu highlighting
    [ ] Text highlighting 
    [ ] Context Menu Background
    [ ] Check if there are variables set I can use or link wals cached .css file. Restarts
            would be required if simply linking cached css. 
        [ ] If Linking to .css from .cache/wal create a template to add alphachannels
[ ] Clean up rules and make them more concise. 
[ ] Find a better solution to show and hide the macOS Titlebar buttons [ (x) (-) (+) ]
[ ] Change Right Click Menu Seperators and Right Click Hover Color
[ ] Keep Menu Selected When Hovering over the Titlebar Buttons [ (x) (-) (+) ]
[ ] Keep URL Bar open when scrolling through overflow dropdowns
[ ] Make sure URL Bar and Tab Bar are the same height
[ ] Add pywal variable to --chrome-content-separator-color. 
[ ] Integrate Pywal Colors into Find Bar
[ ] Find Bar Seach Box Should be White
[ ] Side Bar Vibrancy
    [ ] Side bar header drop down
[ ] Dropdowns, right click, and context menus should match
[ ] Do the Customize Window 
[ ] Look at pywalfox's userChrome.css to see if there's anything I can integrate
[ ] Implement Other layout conifurations eg: Auto Hide Side Bar w/ Tabbar and OG
        auto hide url bar with tab bar on the bottom. 
[ ] Theme the Dropdown under the back and probably forward buttons
[ ] Add wallpaper or pywall'd picture / logos to interface
[ ] Look into icon replacements

Bugs:
* Find Bar Near the search box appears to flash in sync with the cursor after typing try to 
replcate.
    - Mostly Fixed by setting .findbar-closebutton to vibrancy. Still occurs once everytime 
    you click the search box. Bug is also caused by other behavior

* Opening Findbar while side panel is open messes up the lower half of the background of the
sidepanel.  
    - set the findbar opacity to .9 appears to resolve this for the most part, findbar flashes
    when exiting

* colors.css is not completely matching pywalfox pallet. They might be off, but pywalfox has 
more colors. 19 vs 15. Some colors in colors.css appear to be dupes. Check colors.css.

* Can I import sass files eg: userChrome.scss 

* If you move your cursor above the header text in the side panel the tabs bar drops down. It
would be nice if that didnt happen. 

*/


/*
@@@  @@@  @@@@@@  @@@@@@@  @@@  @@@@@@  @@@@@@@  @@@      @@@@@@@@  @@@@@@
@@!  @@@ @@!  @@@ @@!  @@@ @@! @@!  @@@ @@!  @@@ @@!      @@!      !@@
@!@  !@! @!@!@!@! @!@!!@!  !!@ @!@!@!@! @!@!@!@  @!!      @!!!:!    !@@!!
 !: .:!  !!:  !!! !!: :!!  !!: !!:  !!! !!:  !!! !!:      !!:          !:!
   ::     :   : :  :   : : :    :   : : :: : ::  : ::.: : : :: ::: ::.: :
*/

 /*  Link Pywal */
 @import url("file:///Users/brandon/.cache/wal/colors.css");

/*
@@@  @@@ @@@ @@@@@@@  @@@@@@@   @@@@@@  @@@  @@@  @@@@@@@ @@@ @@@
@@!  @@@ @@! @@!  @@@ @@!  @@@ @@!  @@@ @@!@!@@@ !@@      @@! !@@
@!@  !@! !!@ @!@!@!@  @!@!!@!  @!@!@!@! @!@@!!@! !@!       !@!@!
 !: .:!  !!: !!:  !!! !!: :!!  !!:  !!! !!:  !!! :!!        !!:
   ::    :   :: : ::   :   : :  :   : : ::    :   :: :: :   .:
*/

/* Turn on Vibrancy aka macOS Transparency and Blur in the URL Bar, Nav Bar, and Side
Panel, Findbar, and Bookmarks Bar */
#main-window,
#nav-bar,
#sidebar-header,
#history-panel,
#sidebar-search-container,
#bookmarksPanel,
#PersonalToolbar,
findbar {
	-moz-appearance: -moz-mac-vibrancy-dark !important;
}

/* Selected Tab Background Color */
.tab-background[selected="true"] {
    background: var(--color1) !important;
    opacity: .7;
}

/* Various Opacities */
#appMenu-popup, 
#customizationui-widget-panel, 
#pageActionPanel,
#editBookmarkPanel,
#protections-popup,
#pageActionActivatedActionPanel,
#widget-overflow,
#urlbar-background,
#identity-popup,
.panel-arrowcontent,
menupopup[hasbeenopened="true"] {
	opacity: .9;
}

/* Bar between the bookmarks bar and the page  */
#sidebar-splitter {
	border: none !important;
	opacity: 1 !important;
	-moz-appearance: -moz-mac-vibrancy-dark !important;
}

findbar {
    opacity: .9 !important;
}

/*
 @@@@@@@  @@@@@@  @@@  @@@ @@@@@@@ @@@@@@@@ @@@  @@@ @@@@@@@
!@@      @@!  @@@ @@!@!@@@   @@!   @@!      @@!  !@@   @@!
!@!      @!@  !@! @!@@!!@!   @!!   @!!!:!    !@@!@!    @!!
:!!      !!:  !!! !!:  !!!   !!:   !!:       !: :!!    !!:
 :: :: :  : :. :  ::    :     :    : :: ::: :::  :::    :

@@@@@@@@@@  @@@@@@@@ @@@  @@@ @@@  @@@  @@@@@@
@@! @@! @@! @@!      @@!@!@@@ @@!  @@@ !@@
@!! !!@ @!@ @!!!:!   @!@@!!@! @!@  !@!  !@@!!
!!:     !!: !!:      !!:  !!! !!:  !!!     !:!
 :      :   : :: ::: ::    :   :.:: :  ::.: :
*/

/* Global */

/* Remove Themeing */
menupopup,
menuitem,
menu {
    -moz-appearance: none !important;
}

/* Softens the Menu Separator in Right Click Menus */
menupopup menuseparator {
    -moz-appearance: meter !important;
}

/* Keep Rounded Edges on Menus */
.panel-arrowcontent,
#alltabs-popup .arrowscrollbox-scrollbox,
menupopup:not(#BMB_bookmarksPopup),
.textbox-contextmenu {
	border-radius: 5px !important;
}

/* Right Click Menu */

/*  Sets Background Color, Text Color, and Opacity  */
#mainPopupSet menupopup { 
    color: var(--background); /* Text Color */ 
    background-color: var(--color2) !important; /*This is the right click menu color*/
    opacity: .9; 
}

/*
@@@@@@  @@@  @@@ @@@@@@@  @@@@@@  @@@  @@@ @@@ @@@@@@@  @@@@@@@@
@@!  @@@ @@!  @@@   @@!   @@!  @@@ @@!  @@@ @@! @@!  @@@ @@!
@!@!@!@! @!@  !@!   @!!   @!@  !@! @!@!@!@! !!@ @!@  !@! @!!!:!
!!:  !!! !!:  !!!   !!:   !!:  !!! !!:  !!! !!: !!:  !!! !!:
 :   : :  :.:: :     :     : :. :   :   : : :   :: :  :  : :: :::
*/

/* 
Various Configs
Note: only have On Configuration Uncommented

Configuration 1
- Tab Bar at the Top
- URL Bar Drops Down on hover near top or Focus

Configuration 2 
- Url Bar at the top 
- Tab Bar drops down on hover or focus
*/

/* Configuration 1 - Start */
/* Hide Navigation Bar */
#nav-bar {
	height: 1px;
	margin-bottom: -1.5rem; 
	opacity: 0;
    overflow: hidden;
}

/* Show Navigation Bar */
toolbox:hover #nav-bar,
toolbox:focus-within #nav-bar {
    padding-top: .5rem;
    height: auto; 
    margin-bottom: 0rem;
    opacity: 1;
    overflow: visible;
    transition: 0.1s; /* The Length of the Transition */
}
/* Configuration 1 - End */

/* Configuration 2 - Start */


/* Configuration 2 - End */


/* Other Options Useful in this Configuration Uncomment 
to enable / change */

/* A thin bar that seperate the URL Bar from the page. 
If the URL bar is hidden it will still display. 
It runs through the sidebar when it is open. 
Defualt is none */
#main-window {
--chrome-content-separator-color: none; 
}

/* Hides the Title Bar [ (x) (-) (+) ] buttons */
.titlebar-buttonbox-container {
    display: none !important;
}

/* Removes the Spacer Before the Tabs */
.titlebar-spacer[type="pre-tabs"] {
    display: none !important;
}
/* Removes the Spacer After the Tabs */
.titlebar-spacer[type="post-tabs"] {
    display: none !important;
}

/* 
@@@@@@@@@@  @@@  @@@@@@  @@@@@@@
@@! @@! @@! @@! !@@     !@@
@!! !!@ @!@ !!@  !@@!!  !@!
!!:     !!: !!:     !:! :!!
 :      :   :   ::.: :   :: :: :
*/

/* Changes the space aboe the tab bars useful if you havewindow boards 
and stil want to see the selected tab highlight color */
:root[extradragspace][tabsintitlebar]:not([inFullscreen]) {
    --space-above-tabbar: 2px !important;
}

.findbar-closebutton {
    -moz-appearance: -moz-mac-vibrancy-dark !important;
}

menupopup[hasbeenopened="true"] {
    background-color: var(--color8) !important;
    color: white !important;
}

.findbar-textbox.findbar-find-fast {
    background-color: white !important;
    color: black !important;
}

/* 
@@@  @@@  @@@@@@  @@@@@@@      @@@  @@@  @@@@@@ @@@@@@@@ @@@@@@@
@@!@!@@@ @@!  @@@   @@!        @@!  @@@ !@@     @@!      @@!  @@@
@!@@!!@! @!@  !@!   @!!        @!@  !@!  !@@!!  @!!!:!   @!@  !@!
!!:  !!! !!:  !!!   !!:        !!:  !!!     !:! !!:      !!:  !!!
::    :   : :. :     :          :.:: :  ::.: :  : :: ::: :: :  :
*/

/* test space */
